.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.login-error {
    margin-bottom: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.login-input-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    width: 260px;
    margin-bottom: 10px;
    height: 80px;
}

.login-redirect {
    cursor: pointer;
    color: blue;
}

.login-redirect:hover{
    text-decoration: underline;
}