body {
  background-color: #faf8d4;
}
.correct {
  background-color: green !important;
  font-weight: bold;
}

.misplaced {
  background-color: rgb(184, 141, 3) !important;
  font-weight: bold;
}

.wrong {
  background-color: rgb(99, 99, 99) !important;
  font-weight: bold;
}

.center {
  text-align: center;
}

.text-white {
  color: white;
}

.default-keyboard {
  background-color: white;
}

.default-dark-keyboard {
  background-color: #1a2027;
}

.game-page-footer {
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
  margin-top: 10px;
}

.players-container-title {
  font-weight: bold;
  font-size: 17px;
  padding-left: 5px;
}

.play-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.play-page-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81vh;
}
.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
  height: 41vh;
  padding-right: 15px;
  padding-left: 10px;
  justify-content: center;
}
@media (max-width: 550px) {
  .left-container {
    flex-direction: column;
  }
  .left-container button {
    margin-top: 10px;
  }
}
@media (max-width: 390px) {
  .play-page-container {
    flex-direction: column;
  }
  .left-container {
    border-right: 0px solid black;
    border-bottom: 1px solid black;
    height: auto !important;
    padding-bottom: 10px;
    padding-top: 25px;
    width: 80vw;
  }
  .right-container {
    height: auto !important;
  }
}
.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 0px 15px;
  height: 41vh;
  flex-direction: column;
}
.play-page-button {
  margin-bottom: 10px;

  margin-top: 15px;
}

.classic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  align-content: center;
}
.classic-header {
  margin: 10px;
  font-size: 20px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding-20 {
  padding: 20px;
}

.padding-10 {
  padding: 10px;
}

.chatHeader {
  display: flex;
}
.message {
  padding: 5px;
}
.messageInput {
  display: flex;
  justify-content: space-evenly;
}

.margin-10 {
  margin: 10px;
}

.border {
  border: gray solid 2px;
  border-radius: 10px;
}

.width-80pc {
  width: 80%;
  margin: 0 auto;
}

.margin-auto {
  margin: 0 auto;
}

.height {
  height: 50px;
}

.gameWords {
  height: 250px;
}

.active div,
.active {
  background-color: #faf8d4;
  color: #2e4057;
}

.active div:hover {
  background-color: #faf8d4;
  color: #2e4057;
}

.menu-link:not(.active),
.menu-link:not(.active) div {
  color: #faf8d4;
}

.menu-link:not(.active) .menu-item:hover {
  background-color: #2e4057;
}

.menu-link,
.active {
  text-decoration: none;
}

.menu-icon {
  margin-right: auto;
  height: 40px;
}

.toolbar {
  min-height: 48px !important;
  flex-flow: row wrap;
}

.clock {
  max-width: 140px;
  padding: 2px;
  border-radius: 5px;
  background-color: #ff934f;
  color: #2e4057;
  margin-top: 5px;
}

.room-message {
  font-weight: bold;
  height: 25px;
  background-color: #ff934f;
  border-radius: 5px;
  max-width: 300px;
  margin: 5px auto;
}

.board-layout {
  width: 98%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.chat-container {
  flex-basis: 100px;
  margin-top: 10px;
}

.chat-container > div {
  padding: 10px;
}

.word-board-container {
  flex-basis: 300px;
  margin: 0px 10px;
  margin-top: 10px;
  flex-grow: 1;
  border-radius: 5px;
  border: 2px solid #2e4057;
}

.score-container {
  flex-basis: 200px;
  flex-grow: 1;
}

.letter,
.misplaced,
.wrong,
.correct {
  padding: 5px !important;
}
.misplaced,
.wrong,
.correct {
  color: white !important;
  font-weight: bold !important;
}

.chat-pop-container {
  background-color: #ff934f;
}
.chat-pop-button {
  margin-top: 10px;
  display: none;
}

@media (max-width: 800px) {
  .chat-container {
    display: none;
  }
  .chat-pop-button {
    display: block;
  }
}
