.activeLink {
  display: none;
}
.link {
  text-decoration: none;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  width: 20%;
  min-height: 30px;
}
.correct {
  background-color: green;
}

.included {
  background-color: goldenrod;
}

.incorrect {
  background-color: gray;
}

.center {
  text-align: center;
}

.text-white {
  color: white;
}
