body {
  background-color: #faf8d4;
}
.noTextDecor {
  text-decoration: none;
  color: #2e4057;
}
.correct {
  background-color: green !important;
}

.misplaced {
  background-color: goldenrod !important;
}

.wrong {
  background-color: rgb(182, 182, 182) !important;
}

.center {
  text-align: center;
}

.text-white {
  color: white;
}

.default-keyboard {
  background-color: white;
}

.default-dark-keyboard {
  background-color: #1a2027;
}

.score-container {
  width: 30%;
  min-width: 300px;
}
.score-page-container {
  background-color: gray;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
}
.players-container-title {
  font-size: 17px;
  padding-left: 5px;
}

.play-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81vh;
}
.left-container {
  display: flex;
  align-items: center;
  border-right: 1px solid black;
  height: 41vh;
  padding-right: 15px;
  padding-left: 10px;
  justify-content: center;
}
@media (max-width: 550px) {
  .left-container {
    flex-direction: column;
  }
  .left-container button {
    margin-top: 10px;
  }
}
@media (max-width: 390px) {
  .play-page-container {
    flex-direction: column;
  }
  .left-container {
    border-right: 0px solid black;
    border-bottom: 1px solid black;
    height: auto !important;
    padding-bottom: 10px;
    padding-top: 25px;
    width: 80vw;
  }
  .right-container {
    padding-top: 10px;
    height: auto !important;
  }
}
.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 41vh;
  flex-direction: column;
}
.play-page-button {
  margin-bottom: 10px;
}

.classic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  align-content: center;
}
.classic-header {
  margin: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.padding-20 {
  padding: 20px;
}

.padding-10 {
  padding: 10px;
}

.margin-10 {
  margin: 10px;
}

.border {
  border: gray solid 2px;
  border-radius: 10px;
}

.width-80pc {
  width: 80%;
  margin: 0 auto;
}

.margin-auto {
  margin: 0 auto;
}
